<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="src/Image/gato.jpeg" alt="logo">
        <h1>Consulta API</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Menú" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Bienvenido</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/consulta">Consulta</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tabla">Tabla</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Formulario</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Formularios" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/formulario">Formulario</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content"  style="height: 2000px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
